* {
  margin: 0;
}

.navbar {
  display:  flex;
  align-items: center;
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links{
  margin-left: auto;
}
.navbar h1 {
  color: #f1356d;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview { 
  padding: 20px 16px;
  border-bottom: 1px solid #fafafa;
  margin: 20px 0;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  color: #f1356d;
  font-size: 20px;
  margin-bottom: 8px;
}

.blog-list span {
  font-size: 24px;
}

.blog-preview a {
  text-decoration: none;
}
.singel-blog h2 {
  color: #f1356d;
  margin-bottom: 20px;
  font-size: 20px;
}
.singel-blog div {
  margin: 20px 0 ;
  text-align: justify;
}

/* create: */
 .create { 
  
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
 }
 .create lable {
  display: block;
  text-align: left;
 }
 .create h2 {
  font-size: 20px;
  color: #f1356d;
 }
 .create input , .create textarea, .create select {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 6px 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
 }
 .create button { 
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  cursor: pointer;
 }